.bg-success {
  background-color: var(--color-success-primary);
}

.bg-success:hover {
  background-color: var(--color-success-secondary);
}

.bg-secondary {
  background-color: var(--color-secondary-primary);
}

.bg-secondary:hover {
  background-color: var(--color-secondary-secondary);
}

.bg-danger {
  background-color: var(--color-danger-primary);
}

.bg-danger:hover {
  background-color: var(--color-danger-secondary);
}

.bg-primary {
  background-color: var(--color-primary-primary);
}

.bg-primary:hover {
  background-color: var(--color-primary-secondary);
}
